# Crime Data Analysis – Level 1
**Author:** Habibullah Karimi  
**Goal:** Practice basic pandas commands for viewing and exploring datasets  
**Dataset:** Crime_Data.csv  
**Skills Demonstrated:** Viewing data, selecting columns, checking data types

**Crime Data download from: Data.gov**

## Step 1: Import pandas and load the dataset
we will import pandas as load the Crime_Data.csv file form computer.

In [211]:
import pandas as pd

# Load the dataset
data_table = pd.read_csv(r"C:\Users\Habib-Karimi-PC\Desktop\Book\Crime_Data.csv")

# Show first 10 rows to verify it loaded corectly
data_table.head(10)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
5,240412063,12/11/2024 12:00:00 AM,11/11/2020 12:00:00 AM,1210,4,Hollenbeck,429,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,5300 CRONUS ST,NaN,34.0830,-118.1678
6,240317069,12/16/2024 12:00:00 AM,04/16/2020 12:00:00 AM,1350,3,Southwest,396,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,900 W 40TH PL,NaN,34.0100,-118.2900
7,201115217,10/29/2020 12:00:00 AM,07/07/2020 12:00:00 AM,1400,11,Northeast,1133,2,812,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,...,AO,Adult Other,812.0,860.0,NaN,NaN,3000 ACRESITE ST,NaN,34.1107,-118.2589
8,241708596,04/20/2024 12:00:00 AM,03/02/2020 12:00:00 AM,1200,17,Devonshire,1729,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,17700 SIMONDS ST,NaN,34.2763,-118.5210
9,242113813,12/18/2024 12:00:00 AM,09/01/2020 12:00:00 AM,900,21,Topanga,2196,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,20900 MARMORA ST,NaN,34.1493,-118.5886

## Step 2: View Basic Dataset Information
- `.head(n)` → shows first n rows (default 5)  
- `.tail(n)` → shows last n rows  
- `.shape` → number of rows and columns  
- `.columns` → list all column names  
- `.dtypes` → check data types

In [214]:
# First 5 rows
print("First five rows will default :")
print(data_table.head())

First five rows will default :
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  211507896  04/11/2021 12:00:00 AM  11/07/2020 12:00:00 AM       845    15
1  201516622  10/21/2020 12:00:00 AM  10/18/2020 12:00:00 AM      1845    15
2  240913563  12/10/2024 12:00:00 AM  10/30/2020 12:00:00 AM      1240     9
3  210704711  12/24/2020 12:00:00 AM  12/24/2020 12:00:00 AM      1310     7
4  201418201  10/03/2020 12:00:00 AM  09/29/2020 12:00:00 AM      1830    14

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0  N Hollywood         1502         2     354
1  N Hollywood         1521         1     230
2     Van Nuys          933         2     354
3     Wilshire          782         1     331
4      Pacific         1454         1     420

                                         Crm Cd Desc  ... Status  Status Desc  \
0                                  THEFT OF IDENTITY  ...     IC  Invest Cont
1     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...     IC  Invest Cont
2                                  THEFT OF IDENTITY  ...     IC  Invest Cont
3  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...  ...     IC  Invest Cont
4    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...     IC  Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    354.0      NaN       NaN      NaN
1    230.0      NaN       NaN      NaN
2    354.0      NaN       NaN      NaN
3    331.0      NaN       NaN      NaN
4    420.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   7800    BEEMAN                       AV          NaN  34.2124 -118.4092
1           ATOLL                        AV     N  GAULT  34.1993 -118.4203
2  14600    SYLVAN                       ST          NaN  34.1847 -118.4509
3   6000    COMEY                        AV          NaN  34.0339 -118.3747
4                   4700    LA VILLA MARINA          NaN  33.9813 -118.4350

[5 rows x 28 columns]

In [213]:
# first 4 rows
print("\nFirst 4 rows:")
print(data_table.head(4))

First 4 rows:
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  211507896  04/11/2021 12:00:00 AM  11/07/2020 12:00:00 AM       845    15
1  201516622  10/21/2020 12:00:00 AM  10/18/2020 12:00:00 AM      1845    15
2  240913563  12/10/2024 12:00:00 AM  10/30/2020 12:00:00 AM      1240     9
3  210704711  12/24/2020 12:00:00 AM  12/24/2020 12:00:00 AM      1310     7

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0  N Hollywood         1502         2     354
1  N Hollywood         1521         1     230
2     Van Nuys          933         2     354
3     Wilshire          782         1     331

                                         Crm Cd Desc  ... Status  Status Desc  \
0                                  THEFT OF IDENTITY  ...     IC  Invest Cont
1     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  ...     IC  Invest Cont
2                                  THEFT OF IDENTITY  ...     IC  Invest Cont
3  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...  ...     IC  Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    354.0      NaN       NaN      NaN
1    230.0      NaN       NaN      NaN
2    354.0      NaN       NaN      NaN
3    331.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   7800    BEEMAN                       AV          NaN  34.2124 -118.4092
1           ATOLL                        AV     N  GAULT  34.1993 -118.4203
2  14600    SYLVAN                       ST          NaN  34.1847 -118.4509
3   6000    COMEY                        AV          NaN  34.0339 -118.3747

[4 rows x 28 columns]

In [147]:
# Last 3 rows
print("\nLast 3 row:")
print(data_table.tail(3))

Last 3 row:
             DR_NO               Date Rptd                DATE OCC  TIME OCC  \
1004988  251304095  01/31/2025 12:00:00 AM  01/30/2025 12:00:00 AM      1554
1004989  251704066  01/17/2025 12:00:00 AM  01/17/2025 12:00:00 AM      1600
1004990  251904210  03/25/2025 12:00:00 AM  03/25/2025 12:00:00 AM      1235

         AREA   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
1004988    13      Newton         1372         2     850
1004989    17  Devonshire         1774         2     624
1004990    19     Mission         1944         2     850

                      Crm Cd Desc  ... Status  Status Desc Crm Cd 1 Crm Cd 2  \
1004988         INDECENT EXPOSURE  ...     IC  Invest Cont    850.0      NaN
1004989  BATTERY - SIMPLE ASSAULT  ...     IC  Invest Cont    624.0      NaN
1004990         INDECENT EXPOSURE  ...     IC  Invest Cont    850.0      NaN

         Crm Cd 3 Crm Cd 4                                  LOCATION  \
1004988       NaN      NaN    300 E  53RD                         ST
1004989       NaN      NaN   9600    ZELZAH                       AV
1004990       NaN      NaN  11100    OMELVENY                     AV

        Cross Street      LAT       LON
1004988          NaN  33.9942 -118.2701
1004989          NaN  34.2450 -118.5233
1004990          NaN  34.2722 -118.4417

[3 rows x 28 columns]

In [148]:
# Number of rows and columns
print("\nColumns:")
print(data_table.columns)

Columns:
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [151]:
# Data types of all columns
print("\nData types:")
print(data_table.dtypes)

Data types:
DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [152]:
# List of column name
print("\nColumns:")
print(data_table.columns)

Columns:
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [153]:
# Number of rows and columns
print("\nNumber of rows:", data_table.shape[0])
print("\nNumber of columns:", data_table.shape[1])

Number of rows: 1004991

Number of columns: 28

## Step 3: View Single Column
We will view the first 11 rows of the "Vict Age" column.

In [163]:
data_table["Vict Age"].head(11)

0     31
1     32
2     30
3     47
4     63
5     35
6     21
7     14
8     43
9     57
10    13
Name: Vict Age, dtype: int64

## Step 4: View Multiple Columns
We will view the first 5 rows of these columns: "DR_NO", "DATE OCC", "Vict Age", "Vict Sex".

In [165]:
data_table[["DR_NO", "DATE OCC", "Vict Age", "Vict Sex"]].head()

       DR_NO                DATE OCC  Vict Age Vict Sex
0  211507896  11/07/2020 12:00:00 AM        31        M
1  201516622  10/18/2020 12:00:00 AM        32        M
2  240913563  10/30/2020 12:00:00 AM        30        M
3  210704711  12/24/2020 12:00:00 AM        47        F
4  201418201  09/29/2020 12:00:00 AM        63        M

## Step 5 - View AREA NAME
Show the first 35 rows of the "AREA NAME" column.

In [166]:
data_table["AREA NAME"].head(35)

0     N Hollywood
1     N Hollywood
2        Van Nuys
3        Wilshire
4         Pacific
5      Hollenbeck
6       Southwest
7       Northeast
8      Devonshire
9         Topanga
10      Hollywood
11        Olympic
12        Topanga
13     Devonshire
14        Pacific
15        Pacific
16      Southeast
17     Devonshire
18    N Hollywood
19        Pacific
20         Newton
21        Pacific
22        Olympic
23     Devonshire
24       Foothill
25        Olympic
26        Olympic
27        Mission
28        Mission
29        Olympic
30        Olympic
31      Southeast
32      Southeast
33        Pacific
34      Southeast
Name: AREA NAME, dtype: object

## Step 6: View Weapon Desc
Show the first 18: rows of the "Weapon Desc" column
check its data type

In [174]:
data_table["Weapon Desc"].head(18)

# Data type
print("\nData type of 'Weapon Desc':", data_table["Weapon Desc"].dtype)

Data type of 'Weapon Desc': object

## Step 8: Handle Missing Values

Sometimes datasets have missing values (NAN).
we will 
1. Count missing values in each column
2. Remove rows where a specific column is empty ("Cross Street")
3. View the updated dataset
4. These of columns has miss valuse (Mocodes, Vict Sex, Vict Descent, Premis Cd, Premsi Desc, Weapon Used Cd, Weapon Desc, Status, Crm cd 2, Cross Street)

In [199]:
# count missing values in each column
print("Missing values per column:")
print(data_table.isnull().sum())

Missing values per column:
DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151619
Vict Age                0
Vict Sex           144644
Vict Descent       144656
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677744
Weapon Desc        677744
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935831
Crm Cd 3          1002677
Crm Cd 4          1004927
LOCATION                0
Cross Street       850755
LAT                     0
LON                     0
dtype: int64

In [200]:
# Remove rows where "Mocodes" is missing value.
data_table_cleaned  = data_table.dropna(subset = ["Cross Street"])

# view updated dataset 
data_table_cleaned.head()

# Remove rows where any of the listed columns are missing
data_table_cleaned = data_table.dropna(subset = ["Vict Sex","Vict Descent", "Premis Cd", "Mocodes"])
data_table_cleaned.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes                0
Vict Age               0
Vict Sex               0
Vict Descent           0
Premis Cd              0
Premis Desc          569
Weapon Used Cd    526659
Weapon Desc       526659
Status                 0
Status Desc            0
Crm Cd 1              10
Crm Cd 2          784271
Crm Cd 3          850828
Crm Cd 4          853075
LOCATION               0
Cross Street      725859
LAT                    0
LON                    0
dtype: int64

In [201]:
# Remove all rows that contain any NaN value
data_table_cleaned = data_table.dropna()

## Check missing values after cleaning

In [204]:
print(data_table_cleaned.isnull().sum())

# Check number of rows before and after cleaning
print("Original dataset rows:", data_table.shape[0])
print("Cleaned dataset rows:", data_table_cleaned.shape[0])

DR_NO             0
Date Rptd         0
DATE OCC          0
TIME OCC          0
AREA              0
AREA NAME         0
Rpt Dist No       0
Part 1-2          0
Crm Cd            0
Crm Cd Desc       0
Mocodes           0
Vict Age          0
Vict Sex          0
Vict Descent      0
Premis Cd         0
Premis Desc       0
Weapon Used Cd    0
Weapon Desc       0
Status            0
Status Desc       0
Crm Cd 1          0
Crm Cd 2          0
Crm Cd 3          0
Crm Cd 4          0
LOCATION          0
Cross Street      0
LAT               0
LON               0
dtype: int64
Original dataset rows: 1004991
Cleaned dataset rows: 10